*~
.DS_Store
tmp/logs/*.log
application/controllers/*
!application/controllers/application.php
!application/controllers/users.php
application/forms/*
!application/forms/user*.php
application/helpers/*
!application/helpers/users.php
!application/helpers/application.php
application/models/*
!application/models/message.php
!application/models/user.php
application/static/*
!application/static/index.php
!application/static/phpinfo.php
application/structures/*
!application/structures/message.php
!application/structures/user.php
application/views/*
!application/views/mailers
!application/views/users
!application/views/application
application/views/application/*
!application/views/application/template.php
!*.htaccess
